@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

body {
    font-family: sans-serif;
    font-weight: 20;
    line-height: 1.10em;
    color: white;
    background-image: linear-gradient(#19bc9c, #2c3d4f);
    /* width: 100%; 
    max-width: 1024px; */
    position: relative;
    display: block;
}

.mb-3 {
    color: #19bc9c;
}


.container th h1 {
    font-weight: bold;
    font-size: 1em;
    text-align: left;
    color: #185875;
}

.container td {
    font-weight: normal;
    font-size: 1em;
    -webkit-box-shadow: 0 1px 1px -1px #0E1119;
    -moz-box-shadow: 0 1px 1px -1px #0E1119;
    box-shadow: 0 1px 1px -1px #0E1119;
}

.container {
    text-align: left;
    overflow: hidden;
    width: 70%;
    margin-left: 4%;
    display: table;
    position: absolute;

}

.container td,
.container th {
    padding-bottom: 2%;
    padding-top: 2%;
    padding-left: 2%;
}

/* Background-color of the odd rows */
.container tr:nth-child(odd) {
    background-color: #323C50;
}

/* Background-color of the even rows */
.container tr:nth-child(even) {
    background-color: #2C3446;
}

.container th {
    background-color: #1F2739;
}

.container td:first-child {
    color: white;
}

.container tr:hover {
    background-color: #464A52;
    -webkit-box-shadow: 0 6px 6px -6px #0E1119;
    -moz-box-shadow: 0 6px 6px -6px #0E1119;
    box-shadow: 0 6px 6px -6px #0E1119;
}

.container td:hover {
    background-color: #FFF842;
    color: #403E10;
    font-weight: bold;

    box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
    transform: translate3d(6px, -6px, 0);

    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: line;
    /* border-radius: 5px;
    box-shadow:
        0px 0px 0px 5px rgba(22, 231, 102, 0.4),
        0px 4px 20px rgba(0, 0, 0, 0.33);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px; */
}

@media (max-width: 800px) {

    .container td:nth-child(4),
    .container th:nth-child(4) {
        display: none;
    }
}

.container-enlarge {
    margin-left: 90%;
    height: 10vh;
    z-index: 0;
}



.images-container {
    width: 10%;
    text-align: center;
    margin: 10px auto 10px;
}

.icon {
    position: fixed;
    z-index: 50;
}

.images-container {
    width: 90%;
    text-align: center;
    margin: 10px auto 10px;
}

.container-enlarge {
    display: flexbox;
    position: relative;
    z-index: 0;
    margin: 2px;
}



.container-enlarge span {
    position: absolute;
    top: -10em;
    left: -50em;
}

.container-enlarge:hover span {
    top: -20px;
    left: -75px;
    width: 10px;

}

.Sangloctiemchung {
    font-size: 30px;
    text-align: center;
    margin-top: 1%;


}

.Ko {
    padding-left: 1vh;

}

.co {
    padding-left: 2vh;


}

.nhapnhietdo {
    /* padding-left: 4vh; */
    width: 10vh;
    margin-left: 2.2vh;
    border-radius: 10px;
}

.nhaphuyetap {
    /* padding-left: 4vh; */
    width: 10vh;
    margin-left: 2vh;
    border-radius: 10px;

}

.nhapnhiptho {
    /* padding-left: 4vh; */
    width: 10.5vh;
    margin-left: 2.6vh;
    border-radius: 10px;
}

.nhapMach {
    width: 10vh;
    margin-left: 4.7vh;
    /* padding-left: 4vh; */
    border-radius: 10px;
}

.vnhietdo {
    padding-left: 1vh;
}

.Mach {
    margin-left: 15vh;
}

.vhuyetap {
    padding-left: 1vh;
}

.nhiptho {
    padding-left: 8vh;
}

.vnhiptho {
    padding-left: 1vh;
}

.input1 {
    display: flex;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.9);
    box-shadow:
        0px 0px 0px 5px rgba(255, 255, 255, 0.4),
        0px 4px 20px rgba(0, 0, 0, 0.33);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #19bc9c;
    width: 72%;
    margin-left: 5%;
    height: 35vh;
    margin-top: 2vh;
    font-size: 20px;

}

.nhaphoten {
    margin-left: 10vh;
    border-radius: 5px;
    width: 100%;

}

.nhapcccd {
    margin-left: 10vh;
    border-radius: 5px;
    width: 100%;
}

.nhapgioitinh {
    margin-left: 10vh;
    border-radius: 5px;
    width: 100%;
}

.nhapquequan {
    margin-left: 10vh;
    border-radius: 5px;
    width: 100%;
}

h4 {
    font-weight: bold;
    /* color: white; */
    text-align: center;
}

.table,
table {
    width: 100%;
}



#check-overlay:checked~.overlay {
    display: block;
}

.vmach {
    margin-left: 1.5vh;
}

#tablehoten {
    margin-left: 20%;
    width: 48vh;
    position: fixed;
    height: 10vh;
    border-radius: 20px;
    /* box-shadow:
                0 0 10px 4px #FF6347,
                0 0 10px 30px #FFDAB9,
                30px 0 20px 30px #B0E0E6; */

}

.bangsangloc {
    width: 60%;
    border-radius: 30px;
    /* display: block;
    margin: 0 auto; */
    position: relative;
    font-size: 15px;
    margin-left: 20%;
    color: #000;
    border: 1px solid #19bc9c;
    background: white;
    box-shadow:
        0px 0px 0px 3px rgba(255, 255, 255, 0.4),
        0px 4px 5px rgba(0, 0, 0, 0.33);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    transition: margin-left 0.5s;
    position: relative;


}

#dsnguoitiem {
    margin-left: 50%;
}


#hoanthanh {
    border-radius: 5px;
    box-shadow:
        0px 0px 0px 5px rgba(255, 255, 255, 0.4),
        0px 4px 20px rgba(0, 0, 0, 0.33);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 2px solid #19bc9c;
    background: white;
    color: black;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-left: 50%;
    text-decoration: none;


}

.complete {
    position: relative;
    bottom: 0.5em;
    height: 2em;
}

.thongtinsangloc {
    font-size: 25px;
    /* border-radius: 5px;
    box-shadow:
    0px 0px 0px 5px rgba(22, 231, 102, 0.4),
    0px 4px 20px rgba(0, 0, 0, 0.33);
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border: 2px solid #19bc9c;
background: rgb(249, 249, 249); */



}

.noidung {
    margin-left: 90%;
    padding-left: 1em;
}

.thongtin {
    display: block;

}


.thongtin {
    font-size: 20px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

.navigation {
    position: fixed;
    top: 15.6%;
    left: 110%;
    bottom: 20px;
    
    border-radius: 10px;
    box-sizing: initial;
    border-left: 5px solid #ffffff;

    transition: width 0.5s;
    overflow-x: hidden;
    border-radius: 20px;
    box-shadow:
        0px 0px 0px 5px rgba(255, 255, 255, 0.4),
        0px 4px 20px rgba(0, 0, 0, 0.33);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.navigation.active {
    background: #ffffff;
    width: 30%;
    right: 10px;
    left: auto;
    height: 90%;
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-left: 5px;
    margin-top: 40px;
}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.navigation ul li.active {
    background: #19bc9c;
}

.navigation ul li b:nth-child(1) {
    position: absolute;
    top: -20px;
    height: 20px;
    width: 100%;
    background: #19bc9c;
    display: none;
}

.navigation ul li b:nth-child(1)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 20px;
    background: #ffffff;
}

.navigation ul li b:nth-child(2) {
    position: absolute;
    bottom: -20px;
    height: 20px;
    width: 100%;
    background: #19bc9c;
    display: none;
}

.navigation ul li b:nth-child(2)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top-right-radius: 20px;
    background: #ffffff;
}

.navigation ul li.active b:nth-child(1),
.navigation ul li.active b:nth-child(2) {
    display: block;
}

.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.navigation ul li.active a {
    color: #000000;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
}

.navigation ul li .icon ion-icon {
    font-size: 1.5em;
}

.navigation ul li a .title {
    position: relative;
    display: block;
    margin-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: normal;
    text-align: center;
}

.toggle {
    /* position: fixed; */
    top: 67px;
    right: 20px;
    width: 50px;
    height: 50px;
    background: #ffffff;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle.active {
    background: white;
    margin-top: 3%;
}

.bangsangloc.active {
    margin-left: 2%;
}

.toggle ion-icon {
    position: absolute;
    color: #19bc9c;
    font-size: 34px;
    display: none;
}

.toggle ion-icon.open,
.toggle.active ion-icon.close {
    display: block;
}

.toggle ion-icon.close,
.toggle.active ion-icon.open {
    display: none;
}

.list1 {
    background-color: #ffffff;
    font-size: 10%;
    margin-left: 1px;
    height: 60px;
    line-height: 60px;
    white-space: normal;
    margin-bottom: 10px;
}

.title {
    font-size: 150%;

    margin-left: 10%;
}

@media screen and (max-width: 1500px) {
    .nhapmoi1 {
        width: 60%;
    }

    .ngaytiemmoi1 {
        width: 35%;
    }

    .list {
        font-size: 80%;
    }

    .list1 {
        font-size: 120%;
    }


}

@media screen and (max-width: 1320px) {
    .nhapmoi1 {
        width: 60%;
    }

    .ngaytiemmoi1 {
        width: 35%;
    }

    .list {
        font-size: 80%;
    }

    .list1 {
        font-size: 130%;
    }

    .title {
        margin-left: 10px;
    }
}

@media screen and (max-width: 1120px) {

    .thongtintiem {
        margin-top: 5px;
        margin-bottom: 5px;
        width: 100%;
    }

    .thongtintiem1 {
        margin-top: 5px;
        margin-bottom: 5px;
        width: 100%;
    }

    .table1 {
        height: 96vh;
    }

    body {
        height: 100%;
        background-image: linear-gradient(#19bc9c, #2c3d4f);
    }

    .muimoi {
        width: 100%;
    }

    .nhapmoi1 {
        width: 71%;
    }

    .ngaytiemmoi1 {
        width: 22%;
    }

    .list {
        font-size: 63%;
    }

    .list1 {
        font-size: 110%;
    }
}

@media screen and (max-width: 990px) {
    .thongtinnguoitiem {
        width: 100%;
    }

    .table1 {
        height: 124vh;
    }

    .list {
        font-size: 50%;
    }

    .title {
        margin-left: 15%;

    }

    .list1 {
        font-size: 90%;
        margin-left: 0%;
    }
}

@media screen and (max-width: 790px) {
    .thongtinnguoitiem {
        width: 100%;
    }

    .table1 {
        height: 124vh;
    }

    .list {
        font-size: 50%;
    }

    .title {
        margin-left: 13%;

    }

    .list1 {
        font-size: 90%;
        margin-left: 0%;
    }
}

@media screen and (max-width: 765px) {
    .table1 {
        height: 123vh;
    }

    .ngaytiemmoi {
        width: 35%;
    }

    .ngaytiemmoi1 {
        width: 32%;
    }

    .nhapmoi {
        width: 60%;
    }

    .nhapmoi1 {
        width: 61%;
    }

    .list {
        font-size: 50%;
    }

    .title {
        margin-left: 10%;

    }

    .list1 {
        font-size: 90%;
        margin-left: 0%;
    }
}

@media screen and (max-width: 745px) {
    .modal {
        width: 730px;
    }

    .modal-content {
        margin: 0 10%;
    }

    .list {
        font-size: 50%;
    }

    .title {
        margin-left: 8%;

    }

    .list1 {
        font-size: 80%;
        margin-left: 0%;
    }
}

@media screen and (max-width: 690px) {
    .table1 {
        height: 125vh;
    }

    .list {
        font-size: 50%;
    }

    .title {
        margin-left: 6%;

    }

    .list1 {
        font-size: 68%;
        margin-left: 0%;
    }
}

@media screen and (max-width: 570px) {
    .table1 {
        height: 145vh;
    }

    .loaivaccine {
        width: 100%;
    }

    .loaivaccine1 {
        width: 100%;
    }

    .nhapvaccine {
        width: 98%;
    }

    .nhapvaccine1 {
        width: 98%;
    }

    .ngaytiemmoi {
        width: 100%;
    }

    .ngaytiemmoi1 {
        width: 100%;
    }

    .nhapmoi {
        width: 98%;
    }

    .nhapmoi1 {
        width: 100%;
        margin-left: -1px;
    }

    .list {
        font-size: 45%;
    }

    .title {
        margin-left: 3%;

    }

    .list1 {
        font-size: 58%;
        margin-left: 0%;
    }
}

@media screen and (max-width: 320px) {
    .table1 {
        height: 175vh;
        margin-left: 0%;
    }

    .loaivaccine {
        width: 100%;
    }

    .loaivaccine1 {
        width: 100%;
    }

    .nhapvaccine {
        width: 98%;
    }

    .nhapvaccine1 {
        width: 98%;
    }

    .ngaytiemmoi {
        width: 100%;
    }

    .ngaytiemmoi1 {
        width: 100%;
    }

    .nhapmoi {
        width: 98%;
    }

    .nhapmoi1 {
        width: 100%;
        margin-left: -1px;
    }

    .list {
        font-size: 145%;
    }

    .title {
        margin-left: 3%;

    }

    .list1 {
        font-size: 50%;
        margin-left: 0%;
    }
}

.dangxuat {
    height: 4%;
    width: 10%;
    position: absolute;
    left: 89%;
    border-radius: 30px;
    box-shadow:
        0px 0px 0px 5px rgba(255, 255, 255, 0.4),
        0px 4px 20px rgba(0, 0, 0, 0.33);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 2px solid #19bc9c;
    background: white;
    text-align: center;
    text-decoration: None;
}

.nutlogo {
    display: flex;
}

#nutlogout {
    color: black;
    position: relative;
    top: 12%;

}



.timkiem {
    border-radius: 10px;
    width: 64%;
    position: absolute;
    left: 7%;

}



.title1 {
    font-weight: bold;
}

.anh {
    height: 3.5vh;
    width: 3vh;
}

section {
    position: fixed;
    top: 25%;
    right: 30%;
    display: none;
    background: rgba(255, 255, 255, 0.9);
    box-shadow:
        0px 0px 0px 5px rgba(255, 255, 255, 0.4),
        0px 4px 20px rgba(0, 0, 0, 0.33);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #19bc9c;
    width: 15%;
    height: 15%;
    border-radius: 10px;
    font-weight: bold;
}

.list:hover section {
    display: block;
}

.khoi {
    text-align: center;
}

#trash {
    color: #19bc9c;
    position: absolute;
    top: 5%;
    left: 78%;

}

.search {
    position: relative;
    left: 5vh;

}